@import "./_variables.scss";

.modal-buttons {
  position: absolute;
  right: 0;
  top: 40px;
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
  }

  &__buttons {
    position: relative;
    width: 150px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    border-radius: 8px;
    z-index: 999;
  }

  &__edit,
  &__delete {
    @include body-l;
    background-color: transparent;
  }

  &__edit {
    color: $medium-grey;
  }

  &__delete {
    color: $red;
  }
}

.modal-buttons-enter {
  & .modal-buttons__buttons {
    opacity: 0;
  }
}

.modal-buttons-enter-active {
  & .modal-buttons__buttons {
    opacity: 1;
    transition: opacity 300ms;
  }
}

.modal-buttons-exit {
  & .modal-buttons__buttons {
    opacity: 1;
  }
}

.modal-buttons-exit-active {
  & .modal-buttons__buttons {
    opacity: 0;
    transition: opacity 300ms;
  }
}
